a {
    text-decoration: none;
    color: #4a6d7c;
}

hr.dropdown{
	margin-top:4px;
	margin-bottom:4px;
}

.dropdown-menu{
	
	&.notifications{
		width:316px;
	}

	.header{
		padding: 10px 12px;
		
		strong{
			float:left;
		}

		a{
			float:right;
		}
	}
	
}