a {
    text-decoration: none;
    color: #4a6d7c;
}

hr.dropdown{
	margin-top:4px;
	margin-bottom:4px;
}

.dropdown-menu{
	
	&.notifications{
		width:316px;

		.msg-list{
			padding:10px 12px;
		}
		
		.img-area{
			float:left;
			width:36px;
		}

		.msg-area{
			float:right;
			width:230px;

			span{
				font-style:italic;
				text-align:right;
				font-size:11px;
				display: block;
			} 
		}

	}

	.header{
		padding: 10px 12px;
		
		strong{
			float:left;
		}

		a{
			float:right;
			margin-left: 12px;
		}
	}
	
}