.nav-tabs{
	li.active{
		a{
			border-bottom: 0px;
			background-color: white;
		}
	}

	li{
		a:hover{
			background-color:transparent;
			border-bottom-color:transparent;
		}
	}
}

.nav-tabs{
	li.active:hover{
		a{
			border-bottom: 0px;
			background-color: white;
		}
	}
}

.nav-tabs {
    list-style-type: none;
    border-bottom: 0;
}

.nav-tabs li {
    margin-bottom: -2px;
}

.tab-content {
    padding: 45px 34px;
    border: 1px solid #ddd;
    border-radius: 0 5px 5px 5px;
    background-color: #fff;
}